@font-face {
    font-family: "JetBrains Mono";
    src:
        url("/font/JetBrainsMono-Regular.ttf") format("truetype"),
        url("/font/JetBrainsMono-Italic.ttf") format("truetype"),
        url("/font/JetBrainsMono-Bold.ttf") format("truetype");
        url("/font/JetBrainsMono-Medium.ttf") format("truetype");
}

html {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    margin: 0;
}

body {
    font-family: "JetBrains Mono", monospace;
    font-style: normal;
    color: #F4FAFF;
    background-color: #213145;
}

p.right {
    text-align: right;
}

a {
    color: #F4FAFF;
    text-decoration: none;
}

a:hover {
    color: #F6AE2D;
}

h1 {
    font-weight: bold;
    color: #F6AE2D;
}

h6 {
    font-style: italic;
    font-size: 12px;
}

img {
    vertical-align: middle;
}
