@font-face {
    font-family: "JetBrains Mono";
    src:
        url("/font/JetBrainsMono-Regular.ttf") format("truetype"),
        url("/font/JetBrainsMono-Italic.ttf") format("truetype"),
        url("/font/JetBrainsMono-Bold.ttf") format("truetype");
        url("/font/JetBrainsMono-Medium.ttf") format("truetype");
}

html {
    margin: 20px 10px 20px 10px;
    align-items: center;
    display: flex;
    justify-content: center;
}

body {
    font-family: "JetBrains Mono", monospace;
    font-style: normal;
    color: #F4FAFF;
    background-color: #213145;
}

p.right {
    text-align: right;
}

a {
    color: #F4FAFF;
    text-decoration: none;
    transition: color 0.3s ease;
}

a:hover {
    color: #F6AE2D;
}

a.current {
    color: #4B8F8C;
    text-decoration: none;
    transition: color 0.3s ease;
}

a.current:hover {
    color: #F6AE2D;
}

h1 {
    font-weight: bold;
    color: #F6AE2D;
}

h2 {
    font-weight: bold;
    color: #DB5461;
}

h6 {
    font-style: italic;
    font-size: 12px;
}